langchain
langchain-google-genai
langchain-google-vertexai
langchain-community
langchain-core
langchain-chroma
google-generativeai
google-cloud-aiplatform
chromadb
fastapi
uvicorn
python-dotenv
pydantic
numpy
tqdm
python-multipart
cors
fastapi-cors